@using HandmadeShop.Models.ViewModel;
@using HandmadeShop.Models;
@{
    var myData = ViewBag.ListViewModel as ListViewModel;
}
@model UserViewModel

<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Shopping Cart</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>My Order</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- cart main wrapper start -->
<div class="cart-main-wrapper mt-no-text mb-5">
    <div class="container custom-area ">
        <div class="row">
            <div class="col-lg-12 col-custom">
                <!-- Cart Table Area -->
                <div class="cart-table table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="pro-thumbnail">Image</th>
                                <th class="pro-title">Product</th>
                                <th class="pro-price">Price</th>
                                <th class="pro-quantity">Quantity</th>
                                <th class="pro-subtotal">Total</th>
                                <th class="pro-subtotal">Address</th>
                            </tr>
                        </thead>
                        <tbody class="table_cart">
                            @{
                                var i = 0;
                            }
                            @foreach (var item in Model.OrderItem)
                            {
                                <tr>
                                    <td class="pro-thumbnail"><a href="#"><img class="img-fluid" src="~/Images/@myData.ProductImages.FirstOrDefault(i => i.ProductID == item.Product.ID).ImagePath" alt="Product" /></a></td>
                                    <td class="pro-title">@item.Product.Name</td>
                                    <td class="pro-price"><span>@((item.Product.Price).ToString("#,# VND"))</span></td>
                                    <td class="pro-quantity">
                                        <div class="quantity">
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" value="@item.Quantity" type="text" disabled>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pro-subtotal"><span>@((item.Product.Price * item.Quantity).ToString("#,# VND"))</span></td>
                                    @if(i == 0)
                                    {
                                        <td class="pro-subtotal" rowspan="@Model.OrderItem.Count()"><span>@Model.Orders.FirstOrDefault().Province, @Model.Orders.FirstOrDefault().City, @Model.Orders.FirstOrDefault().Ward, @Model.Orders.FirstOrDefault().Street.<br>Phone: @Model.Orders.FirstOrDefault().Phone</span></td>
                                    }
                                </tr>
                                i++;
                            }


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    <div class="row">
        <div class="col-lg-5 ml-auto col-custom">
            <!-- Cart Calculation Area -->
            <div class="cart-calculator-wrapper">
                <div class="cart-calculate-items">
                    <h3>Cart Totals</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>Tiền sản phẩm</td>
                                <td>@Model.Orders.First().Total.ToString("#,# VND")</td>
                            </tr>
                            <tr>
                                <td>Tiền ship</td>
                                <td>FREE</td>
                            </tr>
                            <tr class="total">
                                <td>Total</td>
                                <td class="total-amount">@Model.Orders.First().Total.ToString("#,# VND")</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
       

